*{
    margin: 0;
    padding: 0;
}

@font-face {
    src: url(./src/css/font/GreyQo-Regular.ttf);
    font-family: "Grey Qo";
}

#welcomeScreen{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(11, 6, 0);
    color: rgb(58, 26, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: opacity 1s ease-in;
    z-index: 10;
}

#welcomeScreen.hidden{
    opacity: 0;
    pointer-events: none;
}

#container{
    display: none;
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
}

#container.visible{
    display: block;
    font-family: "Grey Qo";
    text-align: center;
    font-size: 40px;
}