*{
    margin: 0;
    padding: 0;
}

@font-face {
    src: url(./src/css/font/GreyQo/GreyQo-Regular.ttf);
    font-family: "Grey Qo";
}

@font-face {
    font-family: "Nanum Gothic Coding";
    src: url(./src/css/font/Nanum_Gothic_Coding/NanumGothicCoding-Bold.ttf);
}

@font-face {
    font-family: "Great Vibes";
    src: url(./src/css/font/Great_Vibes/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: "PT_Sans_Narrow";
    src: url(./src/css/font/PT_Sans_Narrow/);
}

body{
    font-family: "PT_Sans_Narrow";
}

#welcomeScreen{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(11, 6, 0);
    color: rgb(237, 199, 147);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    transition: opacity 1s ease-in;
    z-index: 10;
}

#welcomeScreen.hidden{
    opacity: 0;
    pointer-events: none;
}

.heading-logo{
    font-size: 25px;
    font-family: "Nanum Gothic Coding";
    letter-spacing: 3.5px;
    font-weight: 400;
    font-style: normal;
    border: 1px  solid rgba(237, 199, 147, 0.84);
    height: 1rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 23px 8px;
}
@keyframes slide-in {
    0% { transform: translateX(-100%); opacity: 0; }
    /* 100% { transform: translateX(0); opacity: 1; } */
  }

#logo{
    display: flex;
    margin: 0 20px;
    z-index: 1;
}

.logo-alphabet{
    font-family: "Grey Qo";
    font-weight: 500;
    font-style: normal;
    font-size: 5rem;
    display: inline;
    position: relative;  
    margin-top: 35px;
    transform: scale(1.2, 1.68);
    animation: slide-in 2s ease forwards;
}

.logo-alphabet:nth-child(1) { /* "H" */
    top: -44px;
}

.logo-alphabet:nth-child(3) { /* "K" */
    top: -44px; /* Adjust this value as needed */
}



/* #container{
    display: none;
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
} */

#container.visible{
    display: block;
}


/* Navbar Styling starts here  */

#navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 80px;
}

#signature-logo{
    font-family: "Grey Qo";
    font-size: 55px;
    color: rgb(46, 1, 58);
    font-weight: 500;
    padding-left: 20px;
}

#nav-links{
    display: flex;
    flex-direction: row;
    font-family: "PT_Sans_Narrow";
    list-style: none;
    text-align: center;
    align-items: center;
}

.nav-link-items{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    padding: 15px 20px;
}

.nav-link-items > a{
    text-decoration: none;  
    color: black;
}

.nav-link-items:hover{
    cursor: pointer;
    background-color: rgb(147, 147, 147);
}



/* Navbar Styling ends here  */