*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Nanum Gothing Coding";
    src: url(./src/font/Nanum_Gothic_Coding/NanumGothicCoding-Regular.ttf);
}

@font-face {
    font-family: "Pt Sans Narrow";
    src: url(./src/font/PT_Sans_Narrow/PTSansNarrow-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(./src/font/Poppins/Poppins-Light.ttf);
}

body{
    font-family: "Pt Sans Narrow";
}

/* navbar styling starts here  */

#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 60px;
}

.logo{
    width: 60px;
    height: 60px;
}

.logo > img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 80px;
}

.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-links{
    list-style: none;
    font-size: 23px;
    padding: 5px 12px;
    border-radius: 10px;
}

.nav-links:hover{
    cursor: pointer;
    background-color: rgb(113, 43, 226);
    color: white;
    transition: 800ms;
}

/* navbar styling ends here  */


/* header sub section styling starts here  */


.header-sub-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.header-sub-section-left > p:nth-child(1){
    font-size: 20px;
    color: rgb(113, 43, 226);
}
.header-sub-section-left > p:nth-child(2){
    font-size: 50px;
    font-weight: 700;
}

.header-sub-section-left > p:nth-child(3){
    font-size: 50px;
    font-weight: 700;
}



.order-now{
    font-size: 18px;
    margin: 10px 0;
    padding: 6px 20px;
    font-family: "Pt Sans Narrow";
    border: none;
    background-color: rgb(113, 43, 226);
    color: white;
    border-radius: 5px;
}

.order-now:hover{
    cursor: pointer;
    background-color: rgb(90, 12, 216);
}

.header-sub-section-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-right-image > img{
    width: 380px;
    border-radius: 50%;
    border: solid 4px rgb(255, 230, 0);
}

.header-right-image-caption{
    font-size: 18px;
    color: rgb(113, 43, 226);
    font-weight: 600;
    background-color: rgb(255, 230, 0);
    padding: 3px 6px;
    border-radius: 30px;
}

.conic-gradient{
    width: 55%;
    height: 590px;
    position: absolute;
    top: 0;
    right: 0;
    background: #ff9900;
    border-radius: 10px 0 0 80%;
    z-index: -1;
}

/* header sub section styling ends here  */


/* popular dishes styling starts here  */

#popular-dishes{
    margin: 70px 0;
    text-align: center;
}

#popular-dishes > h1:nth-child(1){
    margin: 30px 0;
}

.dishes{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-flow: dense;
    align-items: center;
    justify-content: space-around;
    margin: 0 60px;
}

.dish{
    width: 280px;
    height: 420px;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgb(240, 215, 250);
    box-shadow: 15px 10px 32px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 15px 10px 32px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 10px 32px 1px rgba(0,0,0,0.75);
}

.dish:hover{
    transform: scale(1.05);
    transition: 1s;
}

.popular-dish-image{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.popular-dish-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: cover;
}

.dish-section{
    padding: 10px;
}

.dish-title{
    font-size: 20px;
    height: 40px;
}

.dish-description{
    font-size: 16px;
    padding: 10px;
    letter-spacing: 0.5px;
    font-weight: 100;
    height: 80px;
}

.dish-sub-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    padding: 10px;
}

.dish-sub-section > p:nth-child(1){
    font-weight: 600;
    font-family: "Poppins";
}
.dish-sub-section > button{
    padding: 5px 8px;
    background-color: #ff9900;
    color: white;
    border-radius: 25px;
    border: none;

}

.dish-sub-section > button:hover{
    background-color: transparent;
    color: black;
    border: #ff9900 solid 2px;
    cursor: pointer;
}

/* popular dishes styling ends here  */


/* Fine Dinning styling starts here  */
#fineDining{
    margin: 100px 0;
}

#fineDining > h2{
    text-align: center;
    font-size: 35px;
    font-weight: 800;
}

.fineDining-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.fineDining-sub-section-left{
    margin: 90px;
    width: 30%;
}

.fineDining-sub-section-left > p:nth-child(1){
    font-size: 30px;
    font-weight: 600;
}

.fineDining-sub-section-left > button{
    font-size: 17px;
    margin: 20px 0;
    padding: 8px 15px;
    background-color: rgb(113, 43, 226);
    border: none;
    border-radius: 8px;
    color: white;
}

.fineDining-sub-section-left > button:hover{
    cursor: pointer;
    background-color: rgb(90, 12, 216);
}

.fineDining-sub-section-right{
    width: 500px;
    height: 400px;
    overflow: hidden;
    border-radius: 80px;
    border: solid 4px rgb(255, 230, 0);
}

.fineDining-sub-section-right > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Fine Dinning styling ends here  */

/* Why choose our foo styling starts here  */

#choose-ourFood{
    margin: 50px;
}

#choose-ourFood > h2{
    text-align: center;
    font-size: 35px;
    
}

.ourFood{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.ourFood-features{
    width: 20%;
    height: 420px;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 15px 10px 32px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 15px 10px 32px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 10px 32px 1px rgba(0,0,0,0.75);
    background-color: rgb(240, 215, 250);
}

.ourFood-features:hover{
    transform: scale(1.04);
    transition: 1s;
}

.ourFood-features > img{
    width: 100%;
    height: 200px;
}

.ourFood-features-image{
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0 auto;
}

.ourFood-features-image > img{
    width: 100%;
    height: 100%;
}

.ourFood-features-subsection{
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
}

.ourFood-features-subsection > h4{
    font-size: 25px;
    margin: 20px;
}


.ourFood-features-subsection > p{
    font-size: 16px;
    font-weight: 100;
}


/* Why choose our foo styling ends here  */


/* Customers Feedback styling starts here  */

#customers-Feedback{
    margin: 50px;
}

.feedbacks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#customers-Feedback > h2{
    text-align: center;
    font-size: 35px;
}

.customers-feedback-section{
    width: 300px;
    height: 160px;
    padding: 20px;
    border-radius: 50px 0;
    margin: 40px;
    background-color: #ff9900;
    box-shadow: 15px 10px 32px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 15px 10px 32px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 10px 32px 1px rgba(0,0,0,0.75);
}

.customers-feedback-section:hover{
    transform: scale(1.05);
    transition: 1s;
}

.customers-feedback-section > p{
    padding: 10px;
    height: 70px;
}

.customers-feedback-sub-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}

.customers-feedback-img{
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.customers-feedback-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.customers-name{
    font-size: 20px;
    font-weight: 600;
    margin: 15px;
    color: rgb(44, 9, 100);
}

/* Customers Feedback styling ends here  */


/* Footer styling starts here  */


footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    background-color: rgb(97, 0, 170);
    color: white;
    height: 170px;
    padding: 30px 10px;
    border-radius: 90px 90px 0 0;
}

.footer-section{
    width: 20%;
}

.footer-section > p{
    color: silver;
    margin: 8px 0;
}

.footer-company-logo{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}

.footer-company-logo > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.footer-company-logo > p {
    font-size: 20px;
    margin: 0 15px;
}

.footer-social-media-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
}

.footer-social-media-icons > img{
    width: 30px;
    margin: 20px 10px;
}

.footer-social-media-icons > img:hover{
    filter: brightness(80%);
    cursor: pointer;
}

.footer-section > input{
    font-size: 20px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #ff9900 ;
}

/* Footer styling ends here  */