*{
    margin: 0;
    padding: 0;
}

@font-face {
    src: url(./src/css/font/GreyQo/GreyQo-Regular.ttf);
    font-family: "Grey Qo";
}

@font-face {
    font-family: "Nanum Gothic Coding";
    src: url(./src/css/font/Nanum_Gothic_Coding/NanumGothicCoding-Bold.ttf);
}

@font-face {
    font-family: "Great Vibes";
    src: url(./src/css/font/Great_Vibes/GreatVibes-Regular.ttf);
}

@font-face {
    src: url(./src/css/font/PT_Sans_Narrow/);
    font-family: "PT_Sans_Narrow";
}

@font-face {
    font-family: "Open Sans";
    src: url(./src/css/font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

body{
    font-family: "Open Sans";
    background: rgb(242, 235, 255);
}

#welcomeScreen{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(11, 6, 0);
    color: rgb(237, 199, 147);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    transition: opacity 1s ease-in;
    z-index: 10;
}

#welcomeScreen.hidden{
    opacity: 0;
    pointer-events: none;
}

.heading-logo{
    font-size: 25px;
    font-family: "Nanum Gothic Coding";
    letter-spacing: 3.5px;
    font-weight: 400;
    font-style: normal;
    border: 1px  solid rgba(237, 199, 147, 0.84);
    height: 1rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 23px 8px;
}
@keyframes slide-in {
    0% { transform: translateX(-100%); opacity: 0; }
    /* 100% { transform: translateX(0); opacity: 1; } */
  }

#logo{
    display: flex;
    margin: 0 20px;
    z-index: 1;
}

.logo-alphabet{
    font-family: "Grey Qo";
    font-weight: 500;
    font-style: normal;
    font-size: 5rem;
    display: inline;
    position: relative;  
    margin-top: 35px;
    transform: scale(1.2, 1.68);
    animation: slide-in 2s ease forwards;
}

.logo-alphabet:nth-child(1) { /* "H" */
    top: -44px;
}

.logo-alphabet:nth-child(3) { /* "K" */
    top: -44px; /* Adjust this value as needed */
}



/* #container{
    display: none;
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
} */

#container.visible{
    display: block;
}


/* Navbar Styling starts here  */

#navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 80px;
}

#signature-logo{
    font-family: "Grey Qo";
    font-size: 55px;
    color: rgb(46, 1, 58);
    font-weight: 500;
    padding-left: 20px;
}

#nav-links{
    display: flex;
    flex-direction: row;
    font-family: "PT_Sans_Narrow";
    list-style: none;
    text-align: center;
    align-items: center;
}

.nav-link-items{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    padding: 15px 20px;
}

.nav-link-items > a{
    text-decoration: none;  
    color: black;
}

.nav-link-items:hover{
    cursor: pointer;
    background-color: rgb(147, 147, 147);
}


/* .burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #141414;
    margin: 5px;
    transition: transform 0.3s, background-color 0.3s;
} */



/* Navbar Styling ends here  */

/* About Section styling starts here  */

#About-Section{
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    margin: 0px auto;
    font-family: "Open Sans";
}

.about{
    padding: 100px 30px;
    width: 50%;
}

#about-name{
    font-size: 60px;

}

#about-details{
    padding: 20px 0px;
    font-size: 28px;
    width: 490px;
}

#Him-Kishan-Das{
    width: 440px;
    margin-left: 50px;
    border-radius: 20px;
}

#followGithubBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    padding: 13px 18px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
}

#followGithubBtn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    outline: 2px solid black;
}

#followGithubBtn > img{
    width: 20px;
    padding-right: 10px;
}

#quote{
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 12px;
    width: 87%;
    font-size: 25px;
    background-color: white;
    font-family: "Great Vibes";
    padding: 16px;
    box-shadow: 3px 9px 8px 1px rgba(0,0,0,0.88);
-webkit-box-shadow: 3px 9px 8px 1px rgba(0,0,0,0.88);
-moz-box-shadow: 3px 9px 8px 1px rgba(0,0,0,0.88);
}

#quote > p{
    text-align: right;
}



/* About Section styling ends here  */


/* Education styling starts here  */

#Education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Education > h3{
    font-size: 40px;
    margin-bottom: 10px;
}

.Education-Header-Section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.education-header-right{
    font-size: 20px;
    margin: 0px 30px;
}

.education-header-right > a > button{
    font-size: 20px;
    padding: 10px 20px;
    background-color: #9728c7;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

.education-header-right > a > button:hover{
    cursor: pointer;
    background-color: #9f4dc3;
}

.education-header-left > img{
    width: 500px;
}

.Education-Degree{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin: 10px 40px;
    justify-content: center;
    align-items: center;
}

.Education-Degree > img{
    width: 150px;
    height: 220px;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
}

.Education-Degree-Container{
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    width: 75%;
}

.Degree-container-Header{
    background-color: rgb(206, 151, 254);
    border-radius: 15px 15px 0 0;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
}

.degree-container-Header-sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.key-points-degree{
    font-size: 20px;
    padding: 10px 30px;
    list-style: none;
}

#certificates{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px 0;
    grid-auto-flow: row dense;
}

#certificates > a{
    text-decoration: none;
    color: black;
}

.certificate-container{
    width: 350px;
    background-color: white;
    margin: 30px;
    border-radius: 10px;
    
    box-shadow: 3px 11px 19px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 11px 19px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 11px 19px -1px rgba(0,0,0,0.75);
}

.certificate-image{
    width: 350px;
    height: 100px;
    overflow: hidden;
    border: 0 0 1px solid black;
}


.certificate-image > img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center;
    background-color: black;
    border-radius: 10px 10px 0 0;
    
}

.certificate-details{
    padding: 20px 40px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    
}



/* Education styling ends here  */


/* Skills Section styling starts here */

#skills > h3{
    font-size: 38px;
    text-align: center;
    margin: 30px 0;
}

#fullstack{
    display: flex;
    flex-direction: row-reverse ;
}

.fullstack-vector-image{
    width: 740px;
    margin-right: 79px;
}


.fullstack-details{
    margin: 30px 40px 30px 80px;
    padding: 20px;
}

.fullstack-details > h3{
    font-size: 40px;
}

.programming-icons{
    padding: 27px 0px;
}

.programming-language-logo{
    width: 50px;
    padding: 7PX;
}

.thunder-icon{
    width: 18px;
}

.key-skill-points{
    list-style: none;
    font-size: 23px;
    padding: 14px;
}


/* Skills Section styling ends here */


/* Project Section styling starts here */


#projects{
    margin: 50px 0;
    /* font-family: "PT_Sans_Narrow";*/
    font-family: "Open Sans";
}

#projects > h3{
    text-align: center;
    font-size: 50px;
    
}

#projects > h2{
    font-size: 50px;
    margin: 70px 80px;
}

.project-container{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 60px;
}

.project-details{
    width: 50%;
}

.project-details > h3{
    font-size: 40px;
    padding: 25px 0;
    font-family: "PT_Sans_Narrow";
}

.project-description{
    font-size: 23px;
    width: 80%;
}

.project-technologies{
    padding: 0 50px;
    font-size: 20px;
}

.project-technologies > li{
    list-style: none;
}


.project-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 30px;
    margin: 20px 0;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 3px;
    font-size: 15px;
}

.project-link > img{
    width: 30px;
    padding-left: 10px;
    filter: brightness(0) invert(1);
}

.project-link:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.project-link:hover img {
    filter: brightness(0) invert(0);
}

.project-image{
    width: 50%;
    padding: 50px 0;
    text-align: center;
    align-items: center;
    margin-top: 70px;
}

.project-image > img:nth-child(1){
    width: 200px;
    border: none;
    margin: 0 70px;
}

.project-image > img:nth-child(2) {
    width: 80%;
    border: 1px solid black;
    margin: 5px 70px;
}






/* Project Section styling ends here */




/* Resume styling starts here  */

#resume {
    margin: 10px auto;
    /* width: 40%; Adjust the width as desired */
}

#resume > h3 {
    text-align: center;
    font-size: 50px; /* Adjust the font size */
    margin-bottom: 40px;
}
.resume-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.container-left{
    width: 36%;
}

#resume > iframe {
    border: 2px solid black;
    width: 100%; /* Make sure the iframe fills the container */
}


.resume-container-right{
    margin-left: 70px;
    font-size: 26px;
}

.resume-container-right > a > button{
    font-size: 18px;
    padding: 10px 25px;
    margin: 20px 0;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
}

.resume-container-right > a > button:hover{
    background-color: rgb(43, 43, 255);
    cursor: pointer;

}

/* Resume styling ends here  */




/* contact me styling starts here  */

#contactMe{
    margin: 70px 20px;
}

/* #contactMe > h3{
    text-align: center;
    font-size: 40px;
} */

.contact-details{
    display: flex;
    flex-direction: row-reverse;
    margin: 130px 80px;
    justify-content: space-around;
}

.contact-detials-img{
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: 50px;
}

.contact-detials-img > img{
    width: 100%;
    height: 100%;
}

.contact-info{
    width: 40%;
}
.contact-info > h3{
    font-size: 40px;
    margin-bottom: 30px;
}

.contact-info > p{
    font-size: 22px;
}

.contact-buttons{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.contact-social-btn{
    margin: 8px;
}

.contact-social-btn:hover{
    filter: brightness(70%);
}


.contact-social-btn > img{
    width: 40px;
}

/* contact me styling ends here  */


footer{
    text-align: center;
    background-color: rgb(137, 71, 252);
    font-size: 15px;
    padding: 5px;
    color: white;
}








.box {
    display: flex;
    width: 100%;
    height: 8px;
    margin: 5px 0px 60px 0px;
  }
  
  .box-sm {
    height: 8px;
    margin: 0;
    flex-grow: 1;
    transition: all .8s ease-in-out;
    cursor: pointer;
  }
  
  /* // Growing the width of box, when hover using flex-grow property */
  .box{
    width: 80%;
    margin: 80px auto;
  }
  .box-sm:hover {
    flex-grow: 12;
  }
  
  .red {
    background-color: #FF5852;
  }
  
  .orange {
    background-color: #FF9000;
  }
  
  .yellow {
    background-color: #FFD300;
  }
  
  .green {
    background-color: #3DCD49;
  }
  
  .blue {
    background-color: #0089D7;
  }
  
  .purple {
    background-color: #9E44C4;
  }