*{
    margin: 0;
    padding: 0;
}

@font-face {
    src: url(./src/css/font/GreyQo/GreyQo-Regular.ttf);
    font-family: "Grey Qo";
}

@font-face {
    font-family: "Nanum Gothic Coding";
    src: url(./src/css/font/Nanum_Gothic_Coding/NanumGothicCoding-Bold.ttf);
}

@font-face {
    font-family: "Great Vibes";
    src: url(./src/css/font/Great_Vibes/GreatVibes-Regular.ttf);
}

@font-face {
    src: url(./src/css/font/PT_Sans_Narrow/);
    font-family: "PT_Sans_Narrow";
}

@font-face {
    font-family: "Open Sans";
    src: url(./src/css/font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

body{
    font-family: "PT_Sans_Narrow";
}

#welcomeScreen{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(11, 6, 0);
    color: rgb(237, 199, 147);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    transition: opacity 1s ease-in;
    z-index: 10;
}

#welcomeScreen.hidden{
    opacity: 0;
    pointer-events: none;
}

.heading-logo{
    font-size: 25px;
    font-family: "Nanum Gothic Coding";
    letter-spacing: 3.5px;
    font-weight: 400;
    font-style: normal;
    border: 1px  solid rgba(237, 199, 147, 0.84);
    height: 1rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 23px 8px;
}
@keyframes slide-in {
    0% { transform: translateX(-100%); opacity: 0; }
    /* 100% { transform: translateX(0); opacity: 1; } */
  }

#logo{
    display: flex;
    margin: 0 20px;
    z-index: 1;
}

.logo-alphabet{
    font-family: "Grey Qo";
    font-weight: 500;
    font-style: normal;
    font-size: 5rem;
    display: inline;
    position: relative;  
    margin-top: 35px;
    transform: scale(1.2, 1.68);
    animation: slide-in 2s ease forwards;
}

.logo-alphabet:nth-child(1) { /* "H" */
    top: -44px;
}

.logo-alphabet:nth-child(3) { /* "K" */
    top: -44px; /* Adjust this value as needed */
}



/* #container{
    display: none;
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
} */

#container.visible{
    display: block;
}


/* Navbar Styling starts here  */

#navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 80px;
}

#signature-logo{
    font-family: "Grey Qo";
    font-size: 55px;
    color: rgb(46, 1, 58);
    font-weight: 500;
    padding-left: 20px;
}

#nav-links{
    display: flex;
    flex-direction: row;
    font-family: "PT_Sans_Narrow";
    list-style: none;
    text-align: center;
    align-items: center;
}

.nav-link-items{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    padding: 15px 20px;
}

.nav-link-items > a{
    text-decoration: none;  
    color: black;
}

.nav-link-items:hover{
    cursor: pointer;
    background-color: rgb(147, 147, 147);
}


/* .burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #141414;
    margin: 5px;
    transition: transform 0.3s, background-color 0.3s;
} */



/* Navbar Styling ends here  */

/* About Section styling starts here  */

#About-Section{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0px auto;
    font-family: "Open Sans";
}

.about{
    padding: 100px 30px;
    width: 50%;
}

#about-name{
    font-size: 60px;

}

#about-details{
    padding: 20px 0px;
    font-size: 28px;
    width: 490px;
}

#Him-Kishan-Das{
    width: 440px;
    margin-left: 50px;
    border-radius: 20px;
}

#followGithubBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    padding: 13px 18px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
}

#followGithubBtn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    outline: 2px solid black;
}

#followGithubBtn > img{
    width: 20px;
    padding-right: 10px;
}

#quote{
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 12px;
    width: 87%;
    font-size: 25px;
    font-family: "Great Vibes";
    padding: 16px;
    box-shadow: 3px 9px 8px 1px rgba(0,0,0,0.88);
-webkit-box-shadow: 3px 9px 8px 1px rgba(0,0,0,0.88);
-moz-box-shadow: 3px 9px 8px 1px rgba(0,0,0,0.88);
}

#quote > p{
    text-align: right;
}



/* media query styling starts here */

/* @media screen and (max-width: 768px){

    body{
        width: 100%;
    }

    #navBar{
        display: flex;
        flex-direction: row;
        padding: 5px 0px;
        width: 150px;
    }

    #About-Section{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
    }

    #Him-Kishan-Das{
        width: 330px;
    }


    #nav-links {
        display: none;
        text-align: center;
        width: 100%;
        position: absolute;
        background-color: #333;
        top: 60px;
        left: 0;
        z-index: 1;
    }

    #nav-links.active {
        display: block;
    }

    #nav-links li {
        display: block;
        margin: 10px 0;
    }

    .burger {
        display: block;
        float: right;
        margin-top: 15px;
    }

    .burger.active .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.active .line2 {
        opacity: 0;
    }

    .burger.active .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }


    #signature-logo > img{
        width: 150px;
        margin-right: 5px;
    }
} */

/* media query styling ends here */


/* About Section styling ends here  */


/* Skills Section styling starts here */

#skills > h3{
    font-size: 38px;
    text-align: center;
    margin-top: 18px;
}

#fullstack{
    display: flex;
    flex-direction: row-reverse ;
}

.fullstack-vector-image{
    width: 800px;
}


.fullstack-details{
    margin: 30px 40px 30px 80px;
    padding: 20px;
}

.fullstack-details > h3{
    font-size: 40px;
}

.programming-icons{
    padding: 27px 0px;
}

.programming-language-logo{
    width: 50px;
    padding: 7PX;
}

.thunder-icon{
    width: 18px;
}

.key-skill-points{
    list-style: none;
    font-size: 23px;
    padding: 14px;
}


/* Skills Section styling ends here */


/* Project Section styling starts here */


#projects{
    margin: 50px 0;
}

#projects > h3{
    text-align: center;
    font-size: 40px;
}

.project-container{
    display: flex;
    flex-direction: row-reverse;
}

.project-details{
    width: 50%;
}

.project-details > h3{
    font-size: 30px;
    padding: 50px 0;
}

.project-description{
    font-size: 20px;
    width: 80%;
}

.project-image{
    width: 50%;
    padding: 50px 0;
}

.project-image > img {
    width: 80%;
    border: 1px solid black;
    margin: 70px 60px;
}


/* Project Section styling ends here */